* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
    border-radius: 50%;
}

.template {
    display: none;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #169688 0%,
    #169688 15%,
    #dcdbd2 15%,
    #dcdbd2 100%);
}

.container_wz {
    width: calc(100vw - 200px);
    height: calc(100vh - 40px);
    position: fixed;
    z-index: 100;
    top: 20px;
    right: 100px;
}
/* INIZIO COLONNA CONTATTI */
.sidebar_contact {
    height: 100%;
    width: 35%;
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    overflow: auto;
}

.my_navbar {
    display: flex;
    justify-content: flex-start;
    height: 100px;
    width: 100%;
    background-color: #EAEAEA;
}
.img_contact {
    height: 100%;
}

.icon_list {
    padding: 29px 0;
    height: 100%;
    margin-left: auto;
}

.icon_list i {
    font-size: 25px;
    margin: 0 7px;
    color: #B1B1B1;
}
.icon_list i:hover {
    color: #6B7376;
}
/* Barra di notifiche  */
.bar_notifiche {
    height: 100px;
    width: 100%;
    background-color: #91DAFA;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.bar_notifiche .campanellina {
    flex-basis: 20%;
    text-align: center;
}

.campanellina i {
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    color: #91DAFA;
    padding: 15px;
}

.bar_notifiche .text_notifiche {
    flex-basis: 60%;
}

.bar_notifiche .text_notifiche a {
    text-decoration: underline;
    color: #507484;
    font-size: 14px;
}
/* Barra di Ricerca */
.bar_ricerca {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    padding: 0 20px;
}

.bar_ricerca label {
    margin: 0;
}

.bar_ricerca label i {
    color: #6c757d;
    font-size: 24px;
}

.form_ricerca {
    width: 90%;
}
/* Lista contatti */
.lista_contatti {
    height: calc(100% - 270px);
    width: 100%;
    overflow: auto;
}

.scheda_contatto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid #F5F5F5;
}

.scheda_contatto:hover {
    background-color: lightgrey;
}

.scheda_contatto.selected {
    background-color: lightgrey;
}

.info_messaggio {
    padding-left: 20px;
    flex-grow: 1;
}

.info_messaggio span {
    color: #B6B9BB;
}

.ora_scheda {
    font-size: 14px;
    color: #B6B9BB;
}
/* INIZIO COLONNA MESSAGGI */
.sidebar_messages {
    height: 100%;
    width: 65%;
    background-image: url('../img/mine.jpg');
    border: 1px solid #D6D6D6;
    overflow: auto;
}

.info_message {
    padding-left: 20px;
    padding-top: 20px;
}

.info_message p {
    color: #6B7376;
    font-size: 13px;
}

.area_message {
    width: 100%;
    height: calc(100% - 200px);
    overflow: auto;
}

.finestra_messaggio {
    display: none;
    width: 100%;
    height: 100%;
    padding: 40px 70px;
}

.messaggio {
    min-width: 150px;
    max-width: 60%;
    display: inline-block;
    max-height: 200px;
    border-radius: 15px;
    padding: 20px 18px;
    position: relative;
    clear: both;
    margin: 10px 0;
}
.freccina {
    display: none;
    position: absolute;
    top: 3px;
    right: 10px;
    color: #B1B1B1;
    cursor: pointer;
}

.messaggio:hover .freccina {
    display: block;
}

.doppia_spunta {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 6px;
    color: #29A5DC;
}

.drop_down {
    position: absolute;
    width: 160px;
    height: 70px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 7px;
    top: 65px;
    display: none;
    z-index: 1;
}
.drop_down.active {
    display: block;
}

.drop_down li {
    list-style-type: none;
}

.drop_down a {
    color: #B1B1B1;
}

.drop_down a:hover {
    text-decoration: none;
    color: black;
}

.message_time {
    position: absolute;
    bottom: 7px;
    right: 25px;
    font-size: 10px;
    color: #b6b9bb;
}

.messaggio.inviato {
    background-color: #D6F8BC;
    float: right;
}

.messaggio.ricevuto {
    background-color: white;
    float: left;
}

.area_text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #F3EEEA;
}

.emoji_text i ,
.invio_text i {
    font-size: 35px;
    margin: 0 7px;
    color: #6B7376;
}

.area_input {
    width: 80%;
}

.active {
    display: block;
}
